@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: 'Poppins', 'sans-serif';
    color: var(--primary-text-color);
}

p {
    font-family: 'Roboto', 'sans-serif';
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
}

nav {
    background: #f3faff;
    box-sizing: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content:space-between;
    padding: 8px 0;
}

.company-logo {
    width: 120px;
}

.nav-links ul {
    gap: 16px;
}

.hove-link {
    cursor: pointer;
}

.hove-link:hover {
    color: var(--secondary-text-color);
}

.hove-link:active {
    color: red;
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    font-family: 'Roboto', 'sans-serif';
    width: 200px;
    height: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
}

.search-button {
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}